
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --font-family-1: "Source Sans 3";

    --primary-color: #FFFFF0;
    --secondary-color: #28190E;
    --white-color: #FFFFFF;
    --gray-color: #cacaca;

    --font-size-extra-large: 100px;
    --font-size-semi-large: 64px;
    --font-size-medium-large: 32px;

    --font-size-extra-medium: 22px;
    --font-size-medium: 18px;
    --font-size-normal: 16px;
    --font-size-small: 12px;

    --font-weight-bold: 600;
    --font-weight-normal: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}

h1 {
    font-size: var(--font-size-extra-large);
    text-align: center;
    text-transform: uppercase;
    line-height: 90px;
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--font-size-semi-large);
    /* font-weight: var(--font-weight-normal); */
    font-weight: lighter;
}

h3 {
    color: var(--secondary-color);
    font-family: var(--font-family-1);
    font-size: var(--font-size-medium-large);
    text-transform: uppercase;
}

h4 {
    font-size: var(--font-size-medium);
}

button {
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--font-family-1);
    font-size: 18px;
    font-weight: var(--font-weight-bold);
}

.button__transparent {
    background-color: transparent;
    border: solid 2px var(--primary-color);
    padding: 0.5rem 4rem;
    color: var(--primary-color);
    transition: 0.5s;
}

.button__outline__colored {
    background-color: transparent;
    border: solid 2px var(--secondary-color);
    padding: 0.5rem 4rem;
    color: var(--secondary-color);
    transition: 0.5s;
}

.button__outline__colored:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.button__colored {
    background-color: var(--secondary-color);
    border: solid 2px var(--secondary-color);
    padding: 0.5rem 4rem;
    color: var(--primary-color);
}

.text__center {
    text-align: center;
}
/* Header */

#header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    z-index: 100;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul a {
    text-transform: uppercase;
    font-size: var(--font-size-medium);
    font-family: var(--font-family-1);
    font-weight: 400;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__button {
    background-color: transparent;
    border: solid 2px var(--primary-color);
    padding: 0.5rem 2rem;
    color: var(--primary-color);
    border-radius: 30px;
    transition: 0.5s;
}

.header__button:hover, .button__transparent:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header__right img{
    width: 24px;
}

.header__mobile {
    display: none;
}

/* Cart */

.cart {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background-color: var(--secondary-color);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.5s ease;
    z-index: 1000;
    overflow-y: auto;
    padding: 2rem;
    color: var(--primary-color);
}

.cart.active {
    right: 0; 
}

.cart-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--primary-color);
}

.cart h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.cart-item {
    margin-bottom: 1rem;
}

.cart-item-title {
    font-weight: bold;
    font-size: var(--font-size-extra-medium);
    margin: 0.5rem 0 0;
}

.cart-item img {
    height: 200px;
    width: 100%;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}

.cart-item button {
    padding: 5px;
    margin: 0 5px;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-control button {
    color: var(--primary-color);
    background-color: transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.quantity-control span {
    padding: 5px;
    font-size: 16px;
}

.clear-cart, .checkout {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: var(--primary-color);
    margin-top: 1rem;
}

.subtotal {
    margin-top: 0.5rem;
}

#cart-total {
    font-weight: bold;
    font-size: var(--font-size-extra-medium);
    margin-top: 1rem;
    border-top: solid 1px var(--primary-color);
    padding-top: 1rem;
}

.cart-header {
    display: flex;
    cursor: pointer;
}

.cart-count {
    color: var(--primary-color);
    position: relative;
    top: -10px;
    right: -2px;
}

/* Nav */

nav ul li a {
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.4s;
}

nav a:hover::before {
    width: 100%;
}

/* Call to Action Section */

.cta__container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.cta__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta__p {
    font-size: var(--font-size-medium);
    margin-bottom: 2rem;
}

.bear__icon {
    width: 164px;
    margin: 3rem 0 2rem;
}

/* Footer */

footer {
    background-color: var(--secondary-color);
    padding: 5rem 0 1.5rem;
    color: var(--primary-color);
}

.footer__section {
    width: 90%;
    margin: 0 auto;
}

.footer__container {
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding-bottom: 5rem;
    border-bottom: solid 2px var(--primary-color);
}

.footer__title {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium-large);
}

.footer__title__2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    margin-bottom: 4rem;
}


.footer__logo__container {
    display: flex;
    gap: 1rem;
}

.kumachi__logo {
    background-color: var(--primary-color);
    border-radius: 100%;
    height: 60px;
}

.footer__address {
    margin: 1.5rem 0 2rem;
    line-height: 2rem;
}

.footer__social__section {
    display: flex;
    gap: 1rem;
}

.footer__social__icon {
    background-color: var(--primary-color);
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.footer__content__elements {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.5rem;
}

footer nav ul li {
    margin-bottom: 1rem;
}

footer nav ul li a{
    color: var(--primary-color);
}

.copyright {
    font-size: 14px;
    margin: 1.5rem 0 0.5rem;
}

/* Some Global Classes */

.line__height {
    line-height: 1.6rem;
}

.breaker__line {
    font-size: 64px;
}

.pad-top-5 {
    padding-top: 5rem;
}

.medium-size {
    font-size: var(--font-size-medium);
}

/* Responsive */

@media screen and (max-width: 1000px){
    #header {
        display: none;
    }

    .header__mobile {
        display: block;
        position: fixed;
        background-color: transparent;
        left: 0;
        right: 0;
        top: 0;
        transition: 0.5s;
        padding: 15px 0;
        z-index: 100;
    }

    .header__mobile__container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }

    .header__mobile__nav {
        background-color: var(--secondary-color);
        position: fixed;
        left: -500px;
        top: 65px;
        bottom: 0;
        width: 30%;
        padding: 2rem;
        transition: left 0.5s ease;
    }
    
    .header__mobile__nav.active {
        left: 0;
    }

    .header__mobile nav ul {
        display: block;
    }

    .header__mobile li {
        margin-bottom: 1rem;
    }

    .icon__container {
        background-color: var(--secondary-color);
        padding: 0.5rem;
        border: none;
        border-radius: 10px;
    }

    .nav__menu__mobile, .shop__menu__mobile {
        background-color: transparent;
        border: none;
    }

    .nav__menu__mobile img, .shop__menu__mobile img{
        width: 32px;
    }

    .breaker__line {
        font-size: 48px;
    }
    
}

@media screen and (max-width: 650px){
    
    .footer__section {
        width: 80%;
    }

    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem
    }

    .footer__title__2 {
        margin-bottom: 1rem;
    }

    .footer__container {
        padding-bottom: 2rem;
    }

    h1 {
        font-size: 64px;
        line-height: 4.5rem;
    }
    
    .header__mobile__nav {
        width: 50%;
    }
}

@media screen and (max-width: 450px){

    h2 {
        font-size: 48px;
    }

    .footer__container {
        grid-template-columns: 1fr;
        gap: 2rem
    }

}

